//
   Created by yanzexin on 01/02/2017.
   All right reserved. 3:49 PM

extends admin_layout
append content
    .container(ng-app='adminApp', ng-controller='homeCtrl')
        .col-md-12
            .card
                .card-header
                    h2 用户统计
                .card-body.card-padding-sm
                    #bar-chart.flot-chart
                    .flc-bar

append javascripts
    script(src='../templates/vendors/bower_components/moment/moment.js')
    script(src='../templates/vendors/bower_components/flot/jquery.flot.js')
    script(src='../templates/vendors/bower_components/flot/jquery.flot.resize.js')
    script(src='../templates/vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js')
    script(src='../templates/vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js')
    script(src='../templates/vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js')

    script(src='../javascripts/admin_home.js')