//
   Created by yanzexin on 04/02/2017.
   All right reserved. 12:05 PM

extends admin_layout

append content
    .container(ng-app='adminApp' ng-controller='evaluateCtrl')
        .card
            .card-header
                h2
                    | 评测作业
                    small
                .col-sm-3.m-b-25
                    span 作业名
                    select(ng-model='selectedHomeworkTitle')
                        option(ng-repeat='each in evaluateHomeworkList')
                            | {{each['title']}}

            table#data-table-command.table.table-striped.table-vmiddle
                thead
                    tr
                        th(data-column-id='id', data-order='desc') 学号
                        th(data-colunm-id='TAId') 评改人
                        th(data-column-id='score', data-type='numeric') 分数
                        th(data-column-id='commands') 评论
                tbody
                    tr(ng-repeat='each in localHomeworkList')
                        td {{each['studentId']}}
                        td {{getTAName(each['TAId'])}}
                        td
                            .form-group
                                .fg-line(style='width:60px')
                                    input.form-control(minlength=1 maxlength=3 type='numbers'
                                    onkeypress="keyPress(this.value)"
                                    ng-blur="setScore(each['_id'], $event)" value="{{each['score']}}" style='text-align:center;')
                        td
                            .form-group
                                .fg-line
                                    textarea.form-control(rows='3', ng-blur="setComment(each['_id'], $event)")
                                        | {{each['comment']}}
                            button.btn.bgm-lightblue.btn-icon.command-edit.waves-effect.waves-circle(type='button' style='margin:5px' ng-click="saveEvaluate(each['_id'])")
                                span.zmdi.zmdi-save
                            a.btn.bgm-deeporange.btn-icon.waves-effect.waves-circle.waves-float(type='button' href="{{getDownloadUrl(each['studentId'], each['files'])}}")
                                span.zmdi.zmdi-download

            a.btn.bgm-red.btn-icon.command-edit.waves-effect.waves-circle(style='position: absolute;right: 30px; bottom: 10px;' href='#finishEvaluating' data-toggle='modal')
                i.zmdi.zmdi-check-all

            #finishEvaluating.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
                .modal-dialog
                    .modal-content
                        .modal-header
                            h4.modal-title 结束评测
                        .modal-body
                            .card
                                .card-body.card-padding
                                    | 结束评测后,系统将自动结束这个作业评测并统计所有数据,此后将不能再修改成绩, 请反复确认无误后确定!
                        .modal-footer
                            button.btn.btn-danger(type='button' ng-click='finish()') 确定
                            button.btn.btn-success(type='button', ng-click='recheck()') 再次确认

append javascripts
    script(src='../javascripts/admin_evaluate.js')
