//
   Created by yanzexin on 03/02/2017.
   All right reserved. 5:16 PM
extends student_layout

append content
    .container(ng-app='studentHomeApp' ng-controller='studentHomeCtrl' ng-init='init(#{studentId})')
        .col-md-12
            .card
                .card-header
                    h2 成绩单
                .card-body.card-padding-sm
                    #bar-chart.flot-chart
                    .flc-bar
        .row
            .col-sm-4(ng-repeat='each in homeworkList' ng-switch="each['state']")
                .card(ng-switch-when="running")
                    .card-header.bgm-red
                        h2
                            | {{each['title']}}
                            small
                        ul.actions
                            li
                                a(href="{{getDownloadUrl(each['_id'], each['title'])}}")
                                    i.zmdi.zmdi-download
                            li.dropdown
                                a(href='', data-toggle='dropdown')
                                    i.zmdi.zmdi-more-vert
                                ul.dropdown-menu.dropdown-menu-right
                                    li
                                        a(href="{{each['url']}}") 作业链接
                                    li
                                        a(href='') Others
                        a.btn.bgm-red.btn-float.waves-effect(href='#uploadFiles', data-toggle='modal' ng-click="willUploadFile(each['_id'])")
                            i.zmdi.zmdi-plus
                    .card-body.card-padding
                        | 结束时间: {{convertFormat(each['deadline'])}}
                    #uploadFiles.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
                        .modal-dialog
                            .modal-content
                                .modal-header
                                    h4.modal-title 上传作业
                                .modal-body
                                    .card
                                        .card-header
                                        .card-body.card-padding
                                            .row
                                                .col-sm-4
                                                    form.fileinput.fileinput-new(data-provides='fileinput' enctype='multipart/form-data')
                                                        span.btn.btn-primary.btn-file.m-r-10
                                                            span.fileinput-new 选择文件
                                                            span.fileinput-exists 改变
                                                            input(type='file', name='file', ng-file-select="onFileSelect($files)" multiple)
                                                        span.fileinput-filename
                                                        a.close.fileinput-exists(href='#', data-dismiss='fileinput') ×
                                    .modal-footer
                                        button.btn.btn-link(type='button' ng-click="upload()") 上传
                                        button.btn.btn-link(type='button', data-dismiss='modal') 取消

                .card(ng-switch-when="finish")
                    .card-header.ch-alt.m-b-20
                        h2
                            | {{each['title']}}
                            small
                        ul.actions
                            li
                                a(href="{{getDownloadUrl(each['_id'], each['title'])}}")
                                    i.zmdi.zmdi-download
                            li.dropdown
                                a(href='', data-toggle='dropdown')
                                    i.zmdi.zmdi-more-vert
                                ul.dropdown-menu.dropdown-menu-right
                                    li
                                        a(href="{{each['url']}}") 作业链接
                                    li
                                        a(href='') Others
                    .card-body.card-padding
                        | Deadline: {{deadline}}
                .card(ng-switch-when="evaluating")
                    .card-header.bgm-blue
                        h2
                            | {{each['title']}}
                            small
                        ul.actions
                            li
                                a(href="{{getDownloadUrl(each['_id'], each['title'])}}")
                                    i.zmdi.zmdi-download
                            li.dropdown
                                a(href='', data-toggle='dropdown')
                                    i.zmdi.zmdi-more-vert
                                ul.dropdown-menu.dropdown-menu-right
                                    li
                                        a(href="{{each['url']}}") 作业链接
                                    li
                                        a(href='') Others
                    .card-body.card-padding
                        | 还在评测中,请静候.

append javascripts
    script(src='../templates/vendors/bower_components/flot/jquery.flot.js')
    script(src='../templates/vendors/bower_components/flot/jquery.flot.resize.js')
    script(src='../templates/vendors/bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js')
    script(src='../templates/vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js')
    script(src='../templates/vendors/bower_components/flot-orderBars/js/jquery.flot.orderBars.js')
    script(src="http://apps.bdimg.com/libs/angular-file-upload/1.3.1/angular-file-upload.min.js")

    script(src='../javascripts/student_home.js')
